body{
    background: rgba(101, 25, 25, 1);
}

a{
    color: white;
    text-decoration: none
}

header {
 position: fixed;
 width: 0%;
 top: 0;
}

header, nav ul {
 display: flex;
 justify-content: space-between;
 padding: 1rem;
  list-style-type: none;

}

nav ul li {
 margin-left: 120px;
 justify-content: 10px;
 width: 5px;
 font-family: "Koulen", sans-serif;
 font-size: 30px;
}

.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Luckiest Guy", cursive;
    font-size: 45px;
}

.img-1{
    width: 100px;
    height: 400px;
    position: absolute;
    left:75%;
}

.img-2{
    width: 138px;
    height: 580px;
}
.sobre{
    color: white;
}